@font-face {
  font-family: "Kaushan Script";
  src: url("../assets/fonts/KaushanScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Variable.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Italic-Variable.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}